<mat-chip-listbox class="tags" aria-label="Fish selection">
    <mat-chip-option class="tag">One fish</mat-chip-option>
    <mat-chip-option class="tag">Two fish</mat-chip-option>
    <mat-chip-option class="tag" color="accent" selected>Accent fish</mat-chip-option>
    <mat-chip-option class="tag" color="warn">Warn fish</mat-chip-option>
    <mat-chip-option class="tag">One fish</mat-chip-option>
    <mat-chip-option class="tag">Two fish</mat-chip-option>
    <mat-chip-option class="tag" color="accent" selected>Accent fish</mat-chip-option>
    <mat-chip-option class="tag" color="warn">Warn fish</mat-chip-option>
  </mat-chip-listbox>
