<mat-chip-listbox class="tags" aria-label="Fish selection">
    <mat-chip-option class="tag" selected>All</mat-chip-option>
    <mat-chip-option class="tag">Attractions</mat-chip-option>
    <mat-chip-option class="tag" >Restaurants</mat-chip-option>
    <mat-chip-option class="tag" >Accommodation</mat-chip-option>
    <mat-chip-option class="tag">One fish</mat-chip-option>
    <mat-chip-option class="tag">Two fish</mat-chip-option>
    <mat-chip-option class="tag" >Accent fish</mat-chip-option>
    <mat-chip-option class="tag" >Warn fish</mat-chip-option>
  </mat-chip-listbox>
