:host {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(87, 193, 255);
    //align-items: center;
    //justify-content: center;
    flex-direction: column;
    .footer-logo-container {
        width: 200px;
        height: 80px;
        display: flex;
        background-color: rgb(127, 104, 74);
        margin-top: 100px;
        align-self: center;
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    }
    .tourist-centar-info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 50px;
        //margin-bottom: 50px;
        .tourist-centar-name {
            font-size: 20px;
            color: white;
            
        }
        .tourist-centar-item {
            display: flex;
            margin-top: 20px;
            align-items: center;
            svg {
                margin-right: 15px;
                fill: white;
            }
            p {
                color: white;
            }
        }
    }
    
    a {
        text-decoration: none;
        color: white;
        margin-left: 20px;
    }
    .contact-us {
        margin-top: 40px;
    }
    .privacy {
        margin-top: 10px;
    }
    .cookies {
        margin-top: 10px;
    }
    .social-medias {
        align-self: center;
        margin-top: 40px;
        width: 250px;
        height: 40px;
        //background-color: lightblue;
        display: flex;
        justify-content: space-evenly;
        svg {
            width: 40px;
            height: 40px;
            fill: white;
            display: flex;
        }
        svg:hover {
            fill: rgb(189, 237, 255);
        }
    }
    .rights {
        font-size: 12px;
        color: white;
        margin-top: 70px;
        align-self: center;
    }
}