:host {
    width: 100%;
    //margin-left: 50px;
    min-height: calc(100vh - 60px);
    display: flex;
    background-color: transparent;
    flex-direction: column;
    
    a {
        margin-left: 5%;
        margin-top: 40px;
    }
    .table-header {
        margin-top: 10px;
        width: 90%;
        height: 80px;
        display: flex;
        background-color: white;
        align-self: center;
    }
    .attractions-table {
        align-self: center;
        margin-top: 5px;
        width: 90%;
        height: 400px;
        display: flex;
        flex-direction: column;
        background-color: lightgreen;
    }
}