<div class="popup-header">
    <p>Add new Food&Drink</p>
</div>
<form action="">
    <mat-form-field class="name">
        <mat-label>Restaurant name</mat-label>
        <input matInput>
    </mat-form-field>
    <p class="categories-title">Categories:</p>
    <section class="categories">
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>

    </section>
    <mat-form-field >
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Phone number</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Website link</mat-label>
        <input type="url" matInput>
    </mat-form-field>
    <textarea matNativeControl>Description</textarea>
    <button class="add">Add item</button>
</form>

