:host {
    width: calc(100% - 200px);
    margin-left: 200px;
    //min-height: calc(100vh - 60px);
    
    margin-top: 60px;
    display: flex;
    background-color: rgb(244, 234, 255);
    flex-direction: column;
    align-items: center;
    .table-header {
        margin-top: 40px;
        height: 30px;
        width: 90%;
        display: flex;
        //background-color: white;
        p {
            font-size: 22px;
        }
    }
    .table-nav {
        
        margin-top: 20px;
        width: 90%;
        height: 80px;
        display: flex;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: space-evenly;
        .nav-item {
            display: flex;
            gap: 10px;
        }
        p {
            font-size: 15px;
        }
        select {
            width: 120px;
            height: 23px;
        }
        .search-bar {
            width: 170px;
            height: 30px;
            border: 1px solid black;
            border-radius: 8px;
            background-color: white;
        }
    }
    .reviews-table {
        margin-bottom: 50px;
        margin-top: 5px;
        width: 90%;
        //min-height: 400px;
        display: flex;
        flex-direction: column;
        //background-color: lightgreen;
        tbody {
            width: 100%;
            height: 100%;
            
            tr {
                width: 100%;
                height: 50px;
                border: 1px solid rgb(124, 73, 137);
                border-radius: 5px;
                display: flex;
                background-color: rgb(255, 255, 255);
                align-items: center;
                margin-bottom: 1px;
                td {
                    display: flex;
                    //border: 1px solid green;
                    height: 50px;
                    align-items: center;
                }
                .review-id {
                    width: 50px;
                    justify-content: center;
                }
                .review-item {
                    width: 200px;
                    .reviewed-item {
                        border-radius: 10px;
                        width: 150px;
                        height: 40px;
                        display: flex;
                        flex-direction: column;
                        font-size: 13px;
                        //align-items: center;
                        padding-left: 10px;
                        justify-content: center;
                        background-color: rgb(218, 148, 248);
                        color: white;
                    }
                    .item-tag {
                        font-size: 14px;
                        color: rgb(33, 35, 168);
                    }
                }
                .review-rating {
                    width: 120px;
                    
                    svg {
                        display: none;
                        
                    }
                    .filled {
                        display: flex;
                        fill: orange;
                    }
                }
                .review-comment {
                    width: 360px;
                    p {
                        font-size: 15px;
                        max-width: 300px;
                    }
                }
                .review-date {
                    width: 100px;
                }
                .review-status {
                    width: 130px;
                    .status {
                        //background-color: lightgreen;
                        width: 120px;
                        height: 25px;
                        border-radius: 5px;
                        font-size: 11px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }
                    .approved {
                        background-color: lightseagreen;
                    }
                    .nonapproved {
                        background-color: rgb(146, 146, 146);
                    }
                    
                }
            }
        }
    }
}