
<div class="popup-header">
    <p>Rate us</p>
</div>
<form action="">
    

    <mat-form-field class="name">
        <mat-label>Your name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="name">
        <mat-label>Rating</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    
      <mat-form-field class="text">
        <mat-label>Review</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button  class="submit">Rate</button>
</form>
