<p id="greeting">Hello Admin!</p>
<div class="stats-section">
    <div class="stats-box"></div>
    <div class="stats-box"></div>
    <div class="stats-box"></div>
    <div class="stats-box"></div>

</div>
<div class="upper-section">
    <div class="submit-place-section">
        <div class="submit-place-table-header">
            <p>Recommended places</p>
            <a href="">View all</a>
        </div>
        <table class="submit-place-table">
            <thead>
                <tr>
                    <th>CATEGORY</th>
                    <th>NAME</th>
                    
                    <th>ADDRESS</th>
                    <th>LOCATION</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>


    <div class="submit-place-section">
        <div class="submit-place-table-header">
            <p>Event ideas</p>
            <a href="">View all</a>
        </div>
        <table class="submit-place-table">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>TIME</th>
                    
                    <th>ADDRESS</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
    
</div>
<div class="lower-section">
    <div class="message-section">
        <div class="message-table-header">
            <p>Recommended places</p>
            <a href="">View all</a>
        </div>
        <table class="message-table">
            <thead>
                <tr>
                    <th>CATEGORY</th>
                    <th>NAME</th>
                    
                    <th>ADDRESS</th>
                    <th>LOCATION</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                <tr>
                    <td>ATTRACTION</td>
                    <td>Jedna kuca</td>
                    <td>Travnicka bb </td>
                    <td><a href="">See on map</a></td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
