<p id="greeting">Hello Admin!</p>
<div class="visitors-section">
    <div class="visitors-table-section">
        <div class="visitors-table-section-header">
            <p>Latest visitors</p>
            <a href="">View all</a>
        </div>
        <table class="visitors-mini-table">
            <thead>
                <tr>
                    <th>IP</th>
                    
                    <th>COUNTRY</th>
                    <th>TIME</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>192.168.1.0</td>
                    <td>Croatia</td>
                    <td>12:23 PM</td>
                    <td>12/02/2023</td>
                </tr>
                <tr>
                    <td>192.168.1.0</td>
                    <td>Croatia</td>
                    <td>12:23 PM</td>
                    <td>12/02/2023</td>
                </tr>
                <tr>
                    <td>192.168.1.0</td>
                    <td>Croatia</td>
                    <td>12:23 PM</td>
                    <td>12/02/2023</td>
                </tr>
                <tr>
                    <td>192.168.1.0</td>
                    <td>Croatia</td>
                    <td>12:23 PM</td>
                    <td>12/02/2023</td>
                </tr>
                <tr>
                    <td>192.168.1.0</td>
                    <td>Croatia</td>
                    <td>12:23 PM</td>
                    <td>12/02/2023</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="visitors-graph-container">GRAF</div>
</div>
