:host {
    width: calc(100% - 200px);
    margin-left: 200px;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    display: flex;
    background-color: rgb(253, 220, 175);
    .visitors-graph-container {
        width: 500px;
        height: 250px;
        display: flex;
        background-color: white;
        border-radius: 15px;
        margin-top: 20px;
        margin-left: 20px;
    }
}