<div class="data-items-grid">
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>
    <app-data-section-card></app-data-section-card>

</div>
