:host {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    .admin-logo-container {
        width: 160px;
        height: 40px;
        display: flex;
        //background-color: lightblue;
        margin-left: 20px;
        align-items: center;
        justify-content: space-evenly;
        svg {
            width: 30px;
            height: 30px;
            fill: cadetblue;
        }
        p {
            font-size: 18px;
            font-weight: 300;
           
        }
    }
    .admin-header-nav {
        width: 90px;
        height: 40px;
        display: flex;
        //background-color: lightblue;
        margin-right: 20px;
        align-items: center;
        gap: 10px;
        /*
        .notification-box {
            //margin-left: 25px;
            width: 30px;
            height: 30px;
            display: flex;
            //background-color: antiquewhite;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
                width: 22px;
                height: 22px;
                
            }
        }*/
        
        .admin-profile-box {
            margin-left: 5px;
            width: 40px;
            height: 40px;
            display: flex;
            background-color: lightpink;
            border-radius: 50%;
            cursor: pointer;
            background: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg");
            background-size: cover;
        }
    }
}