:host {
    width: 120px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    .section-image {
        border-radius: 8px;
        width: 110px;
        height: 110px;
        //display: flex;
        //background-color: lightblue;
    }
}