<div class="eventpage-header">
    <p>Manage events</p>
    <button (click)="openAddEventPopup()" class="add-event-button">Add event</button>
</div>
<div class="eventpage-nav">
    <select name="" id="" class="time-dropdown"></select>
    <select name="" id="" class="category-dropdown"></select>
    <input type="date" name="" id="" class="start-period">
    <input type="date" name="" id="" class="end-period">
    
    <div class="search-events-bar"></div>
</div>
<div class="events-container">
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>

</div>
