<div class="eventpage-header">
    <p>Manage events</p>
    <button class="add-event-button">Add event</button>
</div>
<div class="eventpage-nav">
    
</div>
<div class="events-container">
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>
    <app-admin-event-card></app-admin-event-card>

</div>
