:host {
    width: calc(100% - 200px);
    margin-left: 200px;
    //min-height: calc(100vh - 60px);
    
    margin-top: 60px;
    display: flex;
    background-color: rgb(255, 238, 185);
    flex-direction: column;
    align-items: center;
    .eventpage-nav {
        margin-top: 40px;
        width: 90%;
        height: 80px;
        display: flex;
        background-color: rgb(255, 198, 198);
        .add-event-button {
            width: 140px;
            height: 40px;
            display: flex;
            background-color: lightseagreen;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 10px;
        }
    }
}