:host {
    width: calc(100% - 200px);
    margin-left: 200px;
    //min-height: calc(100vh - 60px);
    
    margin-top: 60px;
    display: flex;
    background-color: rgb(244, 234, 255);
    
    flex-direction: column;
    align-items: center;
    .eventpage-header {
        margin-top: 40px;
        height: 40px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 22px;
        }
        .add-event-button {
            width: 140px;
            height: 30px;
            display: flex;
            background-color: lightseagreen;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 10px;
        }
    }
    .eventpage-nav {
        margin-top: 10px;
        width: 90%;
        height: 80px;
        display: flex;
        background-color: rgb(255, 255, 255);
        align-items: center;
        select {
            width: 130px;
            height: 30px;
            margin-left: 20px;
        }
        input {
            width: 100px;
            height: 30px;
            margin-left: 20px;

        }
        .search-events-bar {
            width: 260px;
            height: 30px;
            border: 1px solid purple;
            border-radius: 12px;
            margin-left: 120px;
        }
    }
    .events-container {
        width: 90%;
        margin-top: 20px;
        //background-color: lightblue;
        display: grid;
        grid-template-columns:  repeat(auto-fill, minmax(280px, 1fr));
        //justify-content: space-between;
        row-gap: auto;
        row-gap: 20px;
        //column-gap: 20px;
    }
}