:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    .page-banner {
        width: 100%;
        height: 250px;
        display: flex;
        background-color: rgb(232, 250, 255);
        
        background: url("https://www.dinarskogorje.com/uploads/4/1/3/3/41338573/38556_orig.jpg");
        background-size: cover;
        
        
        .page-header {
            margin-top: 160px;
            display: flex;
            align-items: center;
            
            svg {
                margin-left: 30px;
                width: 40px;
                height: 40px;
                fill: white;
            }
            p {
                color: white;
                font-size: 40px;
                margin-left: 10px;
            }
        }
    }
    .blog-nav {
        height: 100px;
        width: 100%;
        display: flex;
        background-color: rgb(232, 250, 255);
        
        align-items: center;
        justify-content: space-between;
        
        
        
    }
    .blog-container {
        //background-color: red;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        //align-items: center;
        width: 100%;
        min-height: 300px;
        background-color: rgb(232, 250, 255);

    }
    .paginator {
        margin-bottom: 30px;
    }
}