<button (click)="close()" class="close"></button>
<div class="content">
    <div class="logo-section"></div>
    <form class="form-section">
        <p>Subscribe to our Newsletter!</p>
        <mat-form-field class="name-input">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Name">
          </mat-form-field>
        <mat-form-field class="mail-input">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com">
          </mat-form-field>
          <button class="subscribe">Subscribe</button>
    </form>
</div>
