
:host {
    //position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    //flex-wrap: wrap;
    
    
    //background-color: transparent;
    
    .main-header {
        position: fixed;
        align-items: center;
    justify-content: space-between;
    background-color: none;
    
    z-index: 1000;
    color: white;
        width: 100%;
        height: 60px;
        display: flex;
        .logo-container {
            width: 60px;
            height: 40px;
            //background-color: rgb(212, 212, 255);
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: black;
                //fill: white;
                width: 40px;
                height: 40px;
            }
            .moving-svg {
                fill: rgb(0, 0, 0);
            }
        }
        .nav {
            display: flex;
            width: 90px;
            height: 40px;
            display: flex;
            margin-right: 20px;
            align-items: center;
            justify-content: space-evenly;
            .nav-search-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                svg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    //fill: rgb(255, 255, 255);
                fill: black;

                }
                .moving-svg {
                    fill: rgb(0, 0, 0);
                }
            }
            .nav-burger-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                svg {
                    //fill: rgb(255, 255, 255);
                    width: 30px;
                    height: 30px;
                fill: black;

                }
                .moving-svg {
                    fill: rgb(0, 0, 0);
                }
            }
            .nav-burger-button-open {
                background-color: red;
            }
    }
    
    }
    .search-menu {
        z-index: 9999;
        
        //position: relative;
        //margin-top: 60px;
        display: none;
        
        &.is-open-search {
            flex-direction: column;
            position: fixed;
            margin-top: 60px;
            display: flex;
            width: 100%;
            height: calc(100vh - 60px);
            background-color: lightblue;
        }
        .search-container {
            margin-left: 7.5%;
            width: 85%;
            height: 40px;
            margin-top: 40px;
            display: flex;
            background-color: cornsilk;
            input {
                width: 90%;
            }
            button {
                width: 10%;
                height: 100%;
            }
        }
        p {
            font-size: 30px;
            margin-left: 7.5%;
            margin-top: 10px;
        }
        .keywords-container {
            margin-left: 7.5%;
            margin-top: 20px;
            width: 85%;
            height: 200px;
            display: grid;
            background-color: rgb(198, 244, 255);
            .keyword {
                width: 100px;
                height: 30px;
                border-radius: 8px;
                background-color: darkcyan;
            }
        }
    }
    .burger-menu {
        z-index: 9999;
        //margin-top: 60px;
       // margin-top: 800px;
        //flex-basis: 100%;
        
        //z-index: 9999;
        //overflow-y: scroll;
        //top: 60px;
        display: none;
        padding-top: 50px;
        &.is-open-burger {
            position: fixed;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            width: 100vw;
            

            max-height: calc(100vh - 110px) !important;
            //min-height: 700px;
            background-color: rgb(255, 255, 255);
            
            overflow-y: auto !important;
            //overflow-y: scroll;
            //-webkit-overflow-scrolling:touch;
            //max-height: 100vh;
        }   
            
            
        /*
        .burger-menu-content {
            width: 100%;
            margin-top: 50px;
            margin-left: 20px;
            .sub-line {
                width: calc(100% - 20px);
                
                margin-right: 20px;
                height: 1px;
                background-color: black;

            }
            li {
                width: 100%;
                height: 60px;
                
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 25px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    //background-color: red;
                }
                a:hover {
                    color: rgb(255, 138, 157);
                }
            }
            
        }*/
        .contact-us-container {
            width: calc(100% - 80px);
            margin-left: 40px;
            margin-top: 50px;
            //height: 300px;
            background-color: white;
            border:1px solid purple;
            display: flex;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            svg {
                margin-left: 10px;
            }
            p {
                margin-left: 10px;
            }
            
        }
        .buttons-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 50px;
            align-items: center;
            button {
            width: calc(100% - 80px);
            
                background-color: transparent;
                border: 2px solid rgb(103, 154, 255);
                color: rgb(103, 154, 255);
                height: 35px;
                margin-bottom: 10px;
            }
            button:hover {
                background-color: rgb(103, 154, 255);
                color: rgb(255, 255, 255);
            }
        }
        .language-switch {
            margin-top: 150px;
            width: 100%;
            height: 200px;
            background-color: red;
            //height: 300px;
            display: flex;
            flex-direction: column;
            p {
                margin-top: 100px;
            }
            //background-color: rgb(135, 56, 56);
        }
        .main-nav-item {
            width: calc(100% - 80px);
                margin-left: 40px;
            //min-height: 50px;
            display: flex;
            border-bottom:1px solid rgb(218, 218, 218);
            
            //justify-content: center;
            //align-items: center;
            flex-direction: column;   
            //background-color: red; 
            //background-color: blue;
            .main-nav-button {
                
                cursor: pointer;
                margin-top: 25px;
                margin-bottom: 25px;
                background: none;
                border: none;
                min-height: 20px;
                width: 100%;
                display: flex;
                
                
                justify-content: space-between;
               
                //background-color: red;
                p {
                    font-size: 18px;
                    color: purple;
                }
                svg {
                    width: 15px;
                    height: 15px;
                    fill: purple;
                }
            }
            ul {
                
                margin-top: 10px;
                display: none;
                li {
                    display: flex;
                    //background-color: red;
                    color: rgb(50, 50, 50);
                    text-decoration: none;
                    width: 100%;
                    min-height: 50px;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: rgb(50, 50, 50);
                        font-size: 17px;

                    }
                }
                
            }
            .is-open-list {
                display: flex;
                flex-direction: column;
            }
            
            
        }
        
    }
}
    
    .search-menu {
        position: absolute;
    }
    





