:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    .planner-header {
        margin-top: 60px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: rgb(193, 249, 255);
        
        .title {
            font-size: 30px;
            margin-left: 5%;
            margin-top: 150px;
        }
        .subtitle {
            margin-top: 20px;
            align-self: center;
            font-size: 16px;
            width: 90%;
        }
    }
    form {
        align-self: center;
        margin-top: 100px;
        //margin-left: 30px;
        display: flex;
        flex-direction: column;
        width: 400px;
        .form-question {
            font-size: 18px;
            font-weight: 200;
            margin-bottom: 10px;
            margin-top: 20px;
        }
        .form-desc {
            font-size: 13px;
        }
        #start-date-field {
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .option {
            width: 192px;
            height: 80px;
            background-color: rgb(255, 255, 255);
            border: 1px solid grey;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            img {
                width: 50px;
                height: 50px;
            }
            p {
                font-size: 15px;
            }
        }
        .days-picker {
            margin-bottom: 20px;
            gap: 10px;
            display: flex;
            button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                background-color: rgb(226, 226, 226);
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(81, 81, 81);
                svg {
                    fill: black;
                    width: 20px;
                    height:20px;
                }
            }
            input {
                height: 30px;
            }
        }
        .members-radios {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 16px;
            row-gap: 16px;
            margin-bottom: 70px;
            margin-top: 20px;
            label {
                input {
                    display: none;
                }
                input[type="radio"]:checked + .option {
                    border: 2px solid rgb(0, 200, 255);
                    
                    
                    
                }
            }
            
        }
        .interests-select {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 16px;
            row-gap: 16px;
            margin-bottom: 70px;
            margin-top: 20px;
            label {
                input {
                    display: none;
                }
                input[type="checkbox"]:checked + .option {
                    border: 2px solid rgb(0, 162, 255);
                    
                    
                    
                }
            }
            
            
             
            
            
        }
        .type-radios {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 16px;
            row-gap: 16px;
            margin-bottom: 70px;
            margin-top: 20px;
            label {
                input {
                    display: none;
                }
                input[type="radio"]:checked + .option {
                    border: 2px solid red;
                    
                    
                    .option {
                        border: 2px solid red;
                    }
                }
            }
            
            
             
            
            
        }
        .plan-button {
            align-self: center;
            width: 170px;
            height: 35px;
            margin-bottom: 30px;
        }
    }
}