<div class="planner-header">
    <p class="title">TRAVNIK TRIP PLANNER</p>
    <p class="subtitle">
        Looking for the best local tips to plan your future trip to Travnik? Use our newest trip planning service provided by those who know the city best!
    </p>
</div>
<form action="" class="planner">

    <!--odabir vremena-->
    <p class="form-question">When are you planning to travel?</p>
    <mat-form-field id="start-date-field">
        <mat-label>Select date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-divider></mat-divider>

    <p class="form-question">Who do you plan on traveling with on your next adventure?</p>
    
    <section class="members-radios">
        
        <label>
            <input type="radio" name="member-radio" id="member-radio1">
            <div class="option"></div>
        </label>
        <label>
            <input type="radio" name="member-radio" id="member-radio2">
            <div class="option"></div>
        </label>
        <label>
            <input type="radio" name="member-radio" id="member-radio3">
            <div class="option"></div>
        </label>
        <label>
            <input type="radio" name="member-radio" id="member-radio4">
            <div class="option"></div>
        </label>
    </section>

    <mat-divider></mat-divider>

    <p class="form-question">Interests?</p>
    <div class="interests-select">
        <label><input type="checkbox" name="interest" id="interest1">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest2">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest3">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest4">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest5">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest6">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest7">
            <div class="option"></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest8">
            <div class="option"></div> 
        </label>
        </div>
        <mat-divider></mat-divider>

    <p class="form-question">Travel type?</p>
    
    <div class="type-radios">
        
        <label>
            <input type="radio" name="type-radio" id="type-radio1">
            <div class="option"></div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio2">
            <div class="option"></div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio3">
            <div class="option"></div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio4">
            <div class="option"></div>
        </label>
    </div>
        
        <!--<input type="radio" name="interests-radio" id="interests-radio1">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio2">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio3">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio4">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio5">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio6">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio7">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio8">
        <label for="interests-radio">
            <div class="option"></div>
        </label>-->
    
    
    <button class="plan-button">Build your trip</button>

</form>
