<div class="planner-header">
    <img src="../../../../assets/images/plavigradcropped.png" alt="">
    
    
</div>
<div class="data">
    <p class="title">TRAVNIK TRIP PLANNER</p>
<p class="subtitle">
    We’ll create your smart itinerary with the help of artificial intelligence
</p></div>
<form action="" class="planner">

    <!--odabir vremena-->
    <p class="form-question">When are you planning to travel?</p>
    <mat-form-field id="start-date-field">
        <mat-label>Select date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-divider></mat-divider>

    <p class="form-question">How many days?</p>


    <div class="days-picker">
        <button (click)="decrement()" type="button" class="step-decrement">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
        </button>
        <input type="text" id="step-number"  value="1"  tabindex="-1" >
        <button (click)="increment()" type="button"  class="step-increment">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
        </button>
      </div>

      <mat-divider></mat-divider>

    <p class="form-question">Who do you plan on traveling with on your next adventure?</p>
    
    <section class="members-radios">
        
        <label>
            <input type="radio" name="member-radio" id="member-radio1">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/man.svg" alt="">
                <p>Solo</p>
            </div>
        </label>
        <label>
            <input type="radio" name="member-radio" id="member-radio2">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/couple.svg" alt="">
                <p>Couple</p>
            </div>
        </label>
        <label>
            <input type="radio" name="member-radio" id="member-radio3">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/friends.svg" alt="">
                <p>Friends</p>
            </div>
        </label>
        <label>
            <input type="radio" name="member-radio" id="member-radio4">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/family.svg" alt="">
                <p>Family</p>
            </div>
        </label>
    </section>

    <mat-divider></mat-divider>

    <p class="form-question">Interests?</p>
    <div class="interests-select">
        <label><input type="checkbox" name="interest" id="interest1">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/city.svg" alt="">
                <p>City sightseeing</p>
            </div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest2">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/park.svg" alt="">
                <p>Outdoor activities</p></div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest3">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/event.svg" alt="">
                <p>Events</p>
            </div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest4">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/restaurant.svg" alt="">
                <p>Food exploration</p>
            </div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest5">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/mosque.svg" alt="">
                <p>History</p>
            </div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest6">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/nature.svg" alt="">
                <p>Nature</p>
            </div> 
        </label>
        <label><input type="checkbox" name="interest" id="interest6">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/relax.svg" alt="">
                <p>Relaxation</p>
            </div> 
        </label>

        <label><input type="checkbox" name="interest" id="interest6">
            <div class="option">
                <img src="../../../../assets/images/planner_icons/relax.svg" alt="">
                <p>Art/Culture</p>
            </div> 
        </label>
        
        </div>

        <mat-divider></mat-divider>
    <p class="form-question">How intense your days should be?</p>

        <section class="intensity-radios">
        
            <label>
                <input type="radio" name="intensity-radio" id="intensity-radio1">
                <div class="option">
                    <img src="../../../../assets/images/planner_icons/man.svg" alt="">
                    <p>Low</p>
                </div>
            </label>
            <label>
                <input type="radio" name="intensity-radio" id="intensity-radio1">
                <div class="option">
                    <img src="../../../../assets/images/planner_icons/man.svg" alt="">
                    <p>Medium</p>
                </div>
            </label>
            <label>
                <input type="radio" name="intensity-radio" id="intensity-radio1">
                <div class="option">
                    <img src="../../../../assets/images/planner_icons/man.svg" alt="">
                    <p>High</p>
                </div>
            </label>
            
            
        </section>

        <mat-divider></mat-divider>
<!--
    <p class="form-question">Travel type?</p>
    
    <div class="type-radios">
        
        <label>
            <input type="radio" name="type-radio" id="type-radio1">
            <div class="option">Relaxation</div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio2">
            <div class="option">Outdoor</div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio3">
            <div class="option">Tourism</div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio4">
            <div class="option">Festivals/Events</div>
        </label>
        <label>
            <input type="radio" name="type-radio" id="type-radio5">
            <div class="option">Work related</div>
        </label>
    </div>
-->  
        <!--<input type="radio" name="interests-radio" id="interests-radio1">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio2">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio3">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio4">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio5">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio6">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio7">
        <label for="interests-radio">
            <div class="option"></div>
        </label>
        <input type="radio" name="interests-radio" id="interests-radio8">
        <label for="interests-radio">
            <div class="option"></div>
        </label>-->
    
    <mat-divider></mat-divider>

    <section class="additional-radios">
        
        <label>
            <input type="checkbox" name="additional-radio" id="additional-radio1">
            <p>I will have a car</p>
        </label>
        <label>
            <input type="checkbox" name="additional-radio" id="additional-radio1">
            <p>Halal food</p>
        </label>
        <label>
            <input type="checkbox" name="additional-radio" id="additional-radio1">
            <p>Vegetarian food</p>
        </label>
        
    </section>

    <button routerLink="/results" class="plan-button">Build your trip</button>

</form>
