<div class="event-image-container">
    <div class="event-timing">
        <p class="start-date">06 Nov 2022</p>
        <div class="vertical-line"></div>
        <p class="end-date">28 Oct 2023</p>
    </div>
</div>
<div class="event-data">
    <div class="upper-row">
        <p id="location-event">Diriyah</p>
        <p id="event-category">Covention & Exhibition</p>
    </div>
    <p id="event-name">The LINE exhibition</p>
</div>
<button class="edit-event"></button>
<button class="delete-event"></button>
