:host {
    width: 95%;
    display: flex;
    background-color: white;
    height: 290px;
    flex-direction: column;
    //border-radius: 10px;
    margin-bottom: 20px;
    justify-self: center;
    border-radius: 12px;
    border: 1px solid rgb(228, 220, 240);
    .event-image-container {
        margin-top: 10px;
        align-self: center;
        width: 90%;
        height: 210px;
        background-color: lightcoral;
        
        background: url("https://ichef.bbci.co.uk/images/ic/1200x675/p0fq9cyz.jpg");
        background-size: cover;
        background-position-y: -40px;
        .event-timing {
            margin-top: 20px;
            margin-left: 20px;
            width: 200px;
            height: 32px;
            display: flex;
            background-color: orange;
            border-radius: 8px;
            align-items: center;
            justify-content: space-evenly;
            p {
                color: white;
                font-size: 15px;
            }
            .vertical-line {
                height: calc(100% - 20px);
                width: 1px;
                background-color: white;
            }
        }
    }
    .event-data {
        .upper-row {
            margin-left: 5%;
            display: flex;
            font-size: 13px;
            margin-top: 10px;
            div {
                width: 80px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(201, 136, 255);
                border-radius: 6px;
                color: white;
            margin-right: 10px;
            }
            
        }
        #event-name {
            margin-left: 5%;
            margin-top: 10px;
            font-size: 17px;
        }
    }
    .lower-row {
        display: flex;
        .edit-event {
            svg {
            fill: rgb(102, 153, 254);

            }
        }
        .delete-event {
            svg {
            fill: rgb(254, 102, 102);
                
            }
        }
        button {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 20px;
                height: 20px;
            }
            height: 25px;
            width: 25px;
        }
    }
    .edit-event {
        display: flex;
        margin-left: 70px;
        width: 30px;
        height: 30px;
        top: 255px;
        left: 250px;
    }
    .delete-event {
        margin-left: 3px;
        display: flex;
        
        width: 30px;
        height: 30px;
    }
    
}

