:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 163, 167);
    flex-direction: column;
    align-items: center;
    .page-banner {
        margin-top: 60px;
        height: 100px;
        width: 100%;
        display: flex;
        background-color: beige;
    }
    .attractions-nav {
        height: 60px;
        width: 100%;
        background-color: rgb(247, 168, 181);
        display: flex;
    }
    .attractions-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
}