<div class="image-nav-link"></div>
<div class="img-container">
    <img src="" alt="" class="attraction-image">
    <div class="image-slider">
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>

        
        

    </div>
</div>
<div class="attraction-data">
    <p class="attraction-title">Stari Grad</p>
    <div class="attraction-location">
        <div class="location-box"></div>
    </div>
    <p class="description">Description: </p>
    <div class="attraction-text">
        <p class="text-subtitle">adada</p>
        <p class="text-section">adwdaddadadadhjadadabdj
            fafaffs
            f  hjsfbhj jbjjhdbja a dadha a jdahdjahj 
            da a gvh bdjkajk  akjdbjkgui gfyuuyfgh
        </p>
        <p class="text-subtitle">Hada</p>
        <p class="text-section"></p>
        <p class="text-subtitle">Hello</p>
        <p class="text-section"></p>
    </div>
</div>
