<div class="image-nav-link"></div>
<div class="img-container">
    <img src="" alt="" class="attraction-image">
    <div class="image-slider">
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>
        <div class="img-slide"></div>

        
        

    </div>
</div>
<div class="attraction-data">
    <p class="attraction-title">Stari Grad</p>
    <div class="attraction-location">
        <div class="location-box"></div>
    </div>
</div>
