body::-webkit-scrollbar {
    display: none;
}


:host {
    
    
    //width: calc(100vw - 40px);
    height: 100vh;
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    .weather-header {
        position: static;
        width: 100%;
        height: 200px;
        
        background-color: rgb(105, 185, 255);
        display: flex;
        flex-direction: column;
        .close-weather {
            align-self: flex-end;
            width: 40px;
            height: 40px;
            background-color: transparent;
            outline: none;
            border: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            margin-top: 10px;
            svg {
                width: 30px;
                height: 30px;
                fill: white;
            }
        }
        p {
            font-size: 30px;
            color: white;
            margin-left: 30px;
            margin-top: 30px;
        }
        .hline {
            width: calc(100% - 60px);
            margin-left: 30px;
            height: 1px;
            display: flex;
            background-color: rgb(255, 255, 255);
            margin-top: 10px;
        }
        .unit-picker {
            margin-top: 10px;
            margin-left: 30px;
            width: 100px;
            height: 35px;
            display: flex;
            background-color: white;
            border-radius: 20px;
            margin-bottom: 10px;
        }
    }
    .weather-content {
        
        width: 100%;
        height: 800px;
        //width: 100%;
        display: flex;
        flex-direction: column;
       // margin-top: 200px;
        //padding-left: 30px;
        #today {
            font-size: 20px;
            margin-top: 25px;
            margin-left: 30px;
        }
        .date-and-time {
            margin-left: 30px;

            margin-top: 5px;
            display: flex;
            .date {
                align-items: center;
                display: flex;
                svg {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
                
                p {
                    font-size: 12px;
                }
            }
            .time {
                margin-left: 15px;
                align-items: center;
                display: flex;
                svg {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
        .icon-and-temp {
            margin-top: 50px;
            align-self: center;
            display: flex;
            gap: 80px;
            svg {
                width: 80px;
                height: 80px;
                fill: rgb(105, 185, 255);

            }
            p {
                color: rgb(105, 185, 255);

                font-size: 50px;
            }
        }
        .sun-graph {
            align-self: center;
            width: 430px;
            height: 150px;
            display: flex;
            background-color: rgb(237, 245, 247);
            margin-top: 50px;
        }
        .days-container {
            width: 100%;
           
            height: 300px;
            margin-top: 50px;
            //margin-bottom: 50px;
            display: flex;
            background-color: rgb(243, 244, 245);
            flex-direction: column;
            .this-week {
                margin-left: 30px;
                margin-top: 30px;
            }
            .days-cards {
                margin-left: 30px;
                width: calc(100% - 60px);
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
                .day-card {
                   
                    width: 120px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(255, 255, 255);
                    .day {
                        margin-top: 10px;
                    }
                    .date {
                        margin-top: 7%;
                        font-size: 13px;
                    }
                    svg {
                        margin-top: 20px;
                        width: 25px;
                        height:25px;
                        fill: rgb(105, 185, 255);

                    }
                    .temp-div {
                        width: 100%;
                        background-color: rgb(221, 221, 221);
                        height: 100px;
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }
                }
            }
        }
        
    }
  


}