:host {
    width: 90%;
    display: flex;
    border: 1px solid lightgray;
    //border-radius: 10px;
    height: 170px;
    background-color: white;
    //border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    
    .img-section {
        background: url("https://cf.bstatic.com/xdata/images/hotel/max1024x768/314520575.jpg?k=1e2ba3d842fbe4799e70cf58db5fdeede190fc8828dfc4e45dd5108852fc0b3d&o=&hp=1");
        background-size: cover;
        height: 160px;
        width: 180px;
        //border-radius: 10px 10px 0 0;
        align-self: center;
        margin-left: 5px;
    }
    .attraction-data {
        height: 140px;
        padding-left: 20px;
        
        display: flex;
        flex-direction: column;
        .attraction-name {
            margin-top: 5px;
            font-weight: bold;
        }
        .attraction-address {
            margin-top: 10px;
            font-size: 13px;
        }
        
    }
}