:host {
    width: 400px;
    height: 405px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 7%;
    flex-direction: column;
    img {
        height: 230px;
        width: 100%;
    }
    #attraction-name {
        margin-left: 20px;
        font-size: 18px;
        margin-top: 20px;
    }
    #attraction-short-desc {
        margin-left: 20px;
        color: rgb(83, 83, 83);
        margin-top: 20px;
    }
    .horizontal-line {
        margin-left: 20px;
        width: calc(100% - 40px);
        height: 1px;
        background-color: rgb(117, 117, 117);
        margin-top: 20px;
    }
    .discover-container {
        display: flex;
        width: calc(100% - 40px);
        margin-left: 20px;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        p {
            color: purple;
        }
        svg {
        width: 10px;
        height: 10px;
        fill:purple;
    }
}}