:host {
    width: 90%;
    display: flex;
    border: 1px solid lightgray;
    height: 170px;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    .img-section {
        background-size: cover;
        height: 160px;
        width: 170px;
        display: flex;
        align-self: center;
        margin-left: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .attraction-data {
        width: calc(90% - 170px);
        height: 140px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        .attraction-name {
            margin-top: 10px;
            font-weight: bold;
        }
        .attraction-description {
            color: rgb(117, 117, 117);
            font-size: 12px;
            margin-top: 10px;
        }
        .attraction-address {
            margin-top: 30px;
            font-size: 15px;
        }      
    }
}