:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    .itinerary {
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        background-color: lightcoral;
        .itinerary-day {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            .itinerary-day-num {
                font-size: 40px;
            }
            .itinerary-date {
                font-size: 14px;
            }
        }
    }
}