:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    //background-color: lightcoral;
    flex-direction: column;
    .main-window {
        width: 100%;
        min-height: 100vh;
        display: flex;
        background-color: rgb(255, 250, 244);
    }
}