$colorAdminBackground: rgb(244, 234, 255);

$colorLogoPlava1: #00a9ac;
$colorLogoPlava2: #5ac8d9;
$colorLogoZuta: #feb814;
$colorLogoNarandja: #f37022;
$colorLogoZelena: #8eb74f;
$colorLogoZelena2:#1f766d;