@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin horizontalCenteredEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}