<div class="popup-header">
    <p>Add new event</p>
</div>
<form action="">
    <div class="left-section">
        <label for="event-category">Category:</label>
    <select name="" id="event-category"></select>

    <label for="event-name">Title:</label>
    <input type="text" name="" id="event-name">

    <label for="event-description">Description:</label>
    <input type="text" name="" id="event-description">

    <label for="event-start-datetime">Event start</label>
    <input type="datetime-local" name="" id="event-start-datetime">

    <label for="event-start-datetime">Event end</label>
    <input type="datetime-local" name="" id="event-end-datetime">
    </div>
    <div class="right-section">
        <label for="event-image">Event wallpaper:</label>
        <input type="image" src="" alt="" id="event-image">

        <button class="addEventButton">Create event</button>
    </div>

</form>
