<div class="popup-header">
    <p>Add new event</p>
</div>
<form action="">
    <div class="left-section">
        <label for="event-category">Category:</label>
    <select name="" id="event-category"></select>

    <mat-form-field class="name">
        <mat-label>Title</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="name">
        <mat-label>Image URL</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="name">
        <mat-label>Description</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>

    

   
    </div>
    <div class="right-section">
        <mat-form-field >
            <mat-label>x-coordinate</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field >
            <mat-label>y-coordinate</mat-label>
            <input matInput>
        </mat-form-field>
    
        <mat-form-field id="start-date-field">
            <mat-label>Select date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field id="start-date-field">
            <mat-label>Select date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        

        <button class="addEventButton">Create event</button>
    </div>

</form>
