:host {
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    svg {
        width: 70px;
        height: 70px;
        fill: rgb(62, 166, 236);
    }
    p {
        font-size: 24px;
        color: rgb(62, 166, 236);
        
    }
}
:host:hover {
    background-color: rgb(95, 223, 255);
    svg {
        fill: white;
    }
    p {
        color: white;
    }
}