:host {
    width: 400px;
    margin-bottom: 10px;
    height: 120px;
    background-color: lightblue;
    display: flex;
    img {
        height: 120px;
        width: 120px;
    }
    .data-section {
        width: 280px;
        p {
            margin-left: 20px;
            padding-right: 10px;
            font-size: 13px;
            color: rgb(66, 66, 66);;
            
        }
        :nth-child(1) {
            margin-top: 10px;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}