:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .landing-screen {
        progress {
            margin-left: 30px;
            margin-top: 30px;
            width: 300px;
        }
        width: 100%;
        height: 100vh;
        background-color: rgb(229, 248, 255);
        display: flex;
        background: url("https://3.bp.blogspot.com/-rJKIm_JTx5c/XNauPxM_KXI/AAAAAAAAH3k/B_J90lmvTj0Wh1758EdSieTvVm1EqU_IwCLcBGAs/s1600/IMG_20190510_173415_753.jpg");
        background-size: cover;
        background-position-x: -20px;
        filter:opacity(0.9);
        filter:contrast(0.9);
        
        /*
        background: url("https://upload.wikimedia.org/wikipedia/commons/5/53/%C5%A0arena_d%C5%BEamija.jpg");
        background-repeat: no-repeat;
        background-position: -13rem;
        background-size: 143%;*/
        .date-and-time {
            display: none;
            margin-left: 380px;
            margin-top: 400px;
            width: 100px;
            height: 100px;
            display: flex;
            background-color: red;
            flex-direction: column;
            svg {
                height: 50px;
                width: 50px;
                fill: blue;
                
            }
        }
    }
    .plan-section {
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: darksalmon;
    }
    .events-section {
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: rgb(195, 196, 199);
    }
}