:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .landing-screen {
        display: flex;
        flex-direction: column;
        .weather-box {
            position: absolute;
            width: 160px;
            height: 60px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            top: 180px;
            left: 300px;
            cursor: pointer;
            .icon-box {
                width: 60px;
                height: 100%;
                background-color: rgb(255, 252, 247);
                border-radius: 10px 0 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 30px;
                    height: 30px;
                    fill: rgb(133, 186, 250);
                }
            }
            .temp-box {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                p {
                    font-size: 20px;
                }
                svg {
                    width: 10px;
                    height: 10px;
                    fill: rgb(133, 186, 250);
                    
                
                }
                width: 100px;
                height: 100%;
                background-color: white;
                border-radius: 0 10px 10px 0;
            }
        }
        .main-info-box {
            width: 95%;
            align-self: center;
            //margin-top: 75%;
            position: relative;
            margin-top: calc(70vh - 150px);
            margin-left: 5%;
            
            #city-name {
                font-size: 70px;
                color: rgb(255, 255, 255);
            }
            #city-short-desc {
                font-size: 13px;
                color: white;
                margin-bottom: 6px;
            }
            .location-and-tags-box {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                width: 95%;
                height: 100px;
                display: flex;
                background-color: white;
                align-items: center;
                border-radius: 10px;
                img {
                    width: 70px;
                    height: 70px;
                    margin-left: 20px;
                }
                .tag-data {
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    p {
                        font-size: 13px;
                    }
                    .tags {
                        display: flex;
                        .tag {
                            margin-top: 10px;
                            //width: 80px;
                            height: 23px;
                            border-radius: 5px;
                            background-color: #5ac8d9;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            font-size: 11px;
                            padding-left: 10px;
                            padding-right: 10px;
                            color: #ffffff;
                        }
                    }
                }
                
            }
        }
        
        width: 100%;
        height: 70vh;
        background-color: rgb(120, 201, 230);
        display: flex;
       //background: url("https://travnik.ba/wp-content/uploads/2020/06/travnik.jpg");
       background: url("https://furaj.ba/wp-content/uploads/2017/09/adnan-bubalo-Copy.jpg");
        //background: url("https://wonderguide.com/_next/image?url=https%3A%2F%2Fstatic.wonderguide.com%2Fmedia%2Fimage%2Fthe-multi-coloured-mosque.jpg&w=2048&q=75");
        //background: url("https://3.bp.blogspot.com/-rJKIm_JTx5c/XNauPxM_KXI/AAAAAAAAH3k/B_J90lmvTj0Wh1758EdSieTvVm1EqU_IwCLcBGAs/s1600/IMG_20190510_173415_753.jpg");
        background-size: cover;
        background-blend-mode: darken;
        background-position-x: -140px;
        filter:opacity(0.9);
        
        
        /*
        background: url("https://upload.wikimedia.org/wikipedia/commons/5/53/%C5%A0arena_d%C5%BEamija.jpg");
        background-repeat: no-repeat;
        background-position: -13rem;
        background-size: 143%;*/
        
    }
    .blog-section {
        display: flex;
        flex-direction: column;
        //align-items: center;
        width: 100%;
        .section-title {
            font-size: 30px;
            align-self: center;
        }
        .filter-blog {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            width: calc(100% - 40px);
            margin-left: 20px;
            p {
                font-size: 13px;
            }
            mat-form-field {
                margin-top: 15px;
            }
        }
        .blog-container {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            width: calc(100% - 40px);
            
            
        }
        
        .more-blogs {
            width: calc(100% - 40px);
            align-self: center;
            height: 40px;
            border-radius: 15px;
            border: 1px solid grey;
            background: transparent;
        }
    }
    .info-section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        background-color: rgb(255, 255, 255);
        
        flex-direction: column;
        align-items: center;
        word-wrap: break-word;
        .city-description {
            font-size: 22px;
            margin-top: 80px;
            width: 90%;
        }
        .subtitle {
            margin-top: 40px;
            font-size: 26px;
        }
        .shortcuts-container {
            width: 100%;
            margin-top: 20px;
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 10px;
            
            margin-bottom: 100px;
            .homepage-shortcut {
                align-self: center;
                justify-self: center;
                width: 200px;
                height: 200px;
                border-radius: 10px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                svg {
                    width: 70px;
                    height: 70px;
                    fill: #00a9ac;
                }
                p {
                    font-size: 24px;
                    color: #00a9ac;
                    
                }
            }
            .homepage-shortcut:hover {
                background-color: #00a9ac;
                svg {
                    fill: white;
                }
                p {
                    color: white;
                }
            }
        }
        
    }
    .about-section {
        width: 100%;
        height: 100vh;
        background-color: #5ac8d9;
        display: flex;
        flex-direction: column;
        color: white;
        .about-title {
            margin-top: 50px;
            font-size: 40px;
            margin-left: 30px;
        }
        .about-desc {
            font-size: 15px;
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
        }
        .about-items {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            width: calc(100% - 60px);
            padding-top: 100px;
            
            .panel {
                margin-top: 5px;
                margin-bottom: 5px;
                background-color: rgb(227, 246, 255);
            }
            .about-link {
                width: 100%;
                height: 50px;
                background-color: white;
                border-radius: 8px;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                
                p {
                    color: purple;
                    font-size: 19px;
                    margin-left: 10px;

                    
                }
                svg {
                    fill: purple;
                    
                }
                :nth-child(1) {
                    width: 25px;
                    height: 25px;
                    margin-left: 10px;
                }
                :nth-child(3) {
                    width: 12px;
                    height: 12px;
                    margin-left: 270px;
                    
                }
                
            }
            
        }
    }
    .plan-section {
        width: 100%;
        height: 100vh;
        display: flex;
        background-color: rgb(255, 222, 155);
        align-items: center;
        justify-content: center;
        
        .plan-card {
            width: 90%;
            height: 550px;
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            background-color: lightblue;
            align-items: center;
            p {
                margin-top: 30px;
            }
            .img-container {
                background: url("https://bosnainfo.ba/wp-content/uploads/2022/08/vlasic-galica.jpg");
                background-size: cover;
                background-position: -180px;
                margin-top: 10px;
                background-color: lightcyan;
                width: 400px;
                height: 400px;
                display: flex;
                border-color: 1px solid black;
            }
            .plan-button {
                margin-top: 20px;
                width: 200px;
                height: 50px;
                border: 3px solid black;
                background-color: transparent;
            }
        }
    }

    //------------------------------------------------------------------------------------------


    .events-section {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        
        align-items: center;
        .events-title {
            font-size: 32px;
            margin-top: 50px;
        }
        .time-nav {
            margin-top: 10px;
            width: 60%;
            display: flex;
            //background-color: cadetblue;
            justify-content: space-evenly;
            a {
                text-decoration: none;
                color: cornflowerblue;
            }
            :nth-child(1) {
                text-decoration: underline;
                text-decoration-thickness:3px;
            }
        }
        
        .event-slider {
            margin-top: 30px;
            display: flex;
            width: 100%;
            height: 300px;
            //background-color: green;
            align-items: center;
            justify-content: center;
        }
        button {
            width: 200px;
            height: 40px;
            background-color: transparent;
            border: 2px solid rgb(50, 203, 165);
            color: rgb(50, 203, 165);
            font-size: 16px;
            margin-top: 70px;
            margin-bottom: 130px;
        }
    }



    //--------------------------------------------------------------------------------------------


    .attractions-section {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        //background-color: rgb(61, 33, 33);
        margin-bottom: 130px;
        
        .section-title {
            margin-top: 50px;
            height: 15px;
            background-color: rgb(94, 187, 253);
            width: 200px;
            align-self: center;
            
            p {
                margin-top: -30px;
                font-size: 40px;
                
            }
        }
        .view-all {
            //margin-left: 7%;
            width: 120px;
            height: 40px;
            background-color: transparent;
            border: 3px solid rgb(94, 187, 253);
            align-self: center;
            //border-radius: 15px;
            color: rgb(94, 187, 253);
            margin-top: 20px;
            
            //border: none;
        }
        .slider {
            //width: 400px;
            //height: 420px;
            display: flex;
            box-sizing: border-box;
            overflow-x: scroll;
            white-space: nowrap;
            margin-top: 30px;
            padding-left: 10%;
        }
        .slider::-webkit-scrollbar {
            display: none;
        }

    }

    //-------------------------------------------------------------------------------------


    .restaurants-section {
        background-color: green($color: #000000);
        width: 100%;
        
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        
        
        .section-title {
            //margin-top: 30px;
            height: 15px;
            background-color: rgb(255, 224, 139);
            width: 200px;
            align-self: center;
            
            p {
                margin-top: -30px;
                font-size: 40px;
                
            }
        }
        .view-all {
            //margin-left: 7%;
            width: 120px;
            height: 40px;
            background-color: transparent;
           // border-radius: 15px;
           border: 3px solid rgb(251, 212, 107);
            color: rgb(251, 212, 107);
            margin-top: 20px;
            margin-bottom: 20px;
            align-self: center;
            margin-bottom: 130px;
            //border: none;
        }
        .slider {
            //width: 400px;
            //height: 420px;
            margin-top: 30px;
            display: flex;
            box-sizing: border-box;
            overflow-x: scroll;
            white-space: nowrap;
            padding-left: 10%;
        }
        .slider::-webkit-scrollbar {
            display: none;
        }

    }

    //--------------------------------------------------------------------------------------

    .activities-section {
        background-color: green($color: #000000);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        
        
        .section-title {
            //margin-top: 30px;
            height: 15px;
            background-color: rgb(255, 224, 139);
            width: 200px;
            align-self: center;
            
            p {
                margin-top: -30px;
                font-size: 40px;
                
            }
        }
        .view-all {
            //margin-left: 7%;
            width: 120px;
            height: 40px;
            background-color: transparent;
           // border-radius: 15px;
           border: 3px solid rgb(251, 212, 107);
            color: rgb(251, 212, 107);
            margin-top: 20px;
            margin-bottom: 20px;
            align-self: center;
            //border: none;
        }
        .slider {
            //width: 400px;
            //height: 420px;
            margin-top: 30px;
            display: flex;
            box-sizing: border-box;
            overflow-x: scroll;
            white-space: nowrap;
            padding-left: 10%;
        }
        .slider::-webkit-scrollbar {
            display: none;
        }

    }



    //------------------------------------------------------------------------------------------
    .instagram-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(255, 241, 194);
        
        min-height: 100vh;
        align-items: center;
        padding-bottom: 50px;
        .section-header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            .ig-title {
                margin-top: 40px;
                font-size: 30px;
                font-weight: bolder;
            }
            .ig-subtitle {
                margin-top: 10px;
                font-size: 20px;
            }
        }
        .ig-post {
            width: 90%;
            display: flex;
            //background-color: pink;
            
            margin-top: 20px;
            flex-direction: column;
            
            
            img {
                //position: absolute;
                width: 100%;
                clip-path: polygon(76% 0, 100% 25%, 100% 100%, 0 100%, 0 0);

            }
            svg {
                position: absolute;
                align-self: flex-end;
                fill: rgb(0, 0, 0);
                margin-right: 10px;
                margin-top: 10px;
                width: 30px;
                height: 30px;
            }
        }
        
    }
    .newsletter-section {
        align-self: center;
        width: 100%;
        height: 350px;
        //margin-top: 50px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .newsletter-image {
            width: 100px;
            height: 130px;
            border: 1px solid rgb(209, 209, 209);
            background: url("https://q-xx.bstatic.com/xdata/images/hotel/max500/351364602.jpg?k=f77e51abeb4f0f181b47f9900aa1077705a8169abc18c760266603ac90b92717&o=");
            background-size: 160%;
            background-position-x: -20px;
            background-position-y: -40px;
        }
        .title {
            margin-top: 15px;
            font-size: 14px;
            font-weight: bolder;
            color: lightskyblue;
            
        }
        .desc {
            font-size: 30px;
            //margin-top: 2px;
            
        }
        
        .sign-up {
            
            width: 120px;
            height: 45px;
            background-color: transparent;
            border: 2px solid lightskyblue;
            display: flex;
            align-items: center;
            justify-content: center;

        }
        .sign-up:hover {
            background-color: lightskyblue;
            color: white;
            cursor: pointer;
        }
    }
}






//web verzija




























//----------------------------------------------------------------------------




