/* You can add global styles to this file, and also import other style files */
@import url("@angular/material/prebuilt-themes/indigo-pink.css");
* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.disapear-body {
    overflow: hidden !important;
    .main-header {
        background-color: rgb(255, 255, 255);
        
            box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    div {
        .moving-svg {
            fill: black;
        } 
    }        
    }
    
 }

.disapear-scroll::-webkit-scrollbar {
    display: none;
}