:host {
    width: 100%;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
:host ::ng-deep {
    .moving-header {
        .main-header {
            background-color: rgb(255, 255, 255);
            box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
            fill: rgb(0,0,0); 
            

        }
        
    }
    
    
}




