:host {
    width: 100%;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.moving-header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    fill: black;    
}

