:host {
    width: 410px;
    height: 405px;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(94, 187, 253);
    border-radius: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-right: 12px;
    img {
        height: 230px;
        width: 410px;
        border-radius: 10px 10px 0 0;
    }
    #attraction-name {
        margin-left: 20px;
        font-size: 18px;
        margin-top: 20px;
        color: white;
        font-weight: bold;
    }
    #attraction-short-desc {
        max-width: 350px;
        margin-left: 20px;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        font-size: 14px;
    }
    .horizontal-line {
        margin-left: 20px;
        width: calc(100% - 40px);
        height: 1px;
        background-color: rgb(117, 117, 117);
        margin-top: 20px;
    }
    .discover-container {
        display: flex;
        width: calc(100% - 40px);
        margin-left: 20px;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        p {
            color: purple;
            font-weight: bold;
        }
        svg {
        width: 10px;
        height: 10px;
        fill:purple;
    }
}}