:host {
    width: 90%;
    display: flex;
    border: 1px solid lightgray;
    height: 140px;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    .img-section {
        
        background-size: cover;
        height: 130px;
        width: 130px;
        align-self: center;
        margin-left: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .food-data {
        height: 140px;
        padding-left: 20px;
        
        display: flex;
        flex-direction: column;
        .food-name {
            margin-top: 5px;
            font-weight: bold;
        }
        .food-address {
            margin-top: 10px;
            font-size: 13px;
        }
        .rating-section {
            width: 130px;
            height: 15px;
            margin-top: 13px;
            display: flex;
            font-size: 11px;
            svg {
                fill: orange;
            }
            .num-reviews {
                margin-left: 40px;
            }
        }
        .website {
            width: 130px;
            height: 25px;
            border: 2px solid black;
            background: transparent;
            margin-top: 17px;
            font-size: 11px;
        }
    }
}