<div class="popup-header">
    <p>Add new Accommodation</p>
</div>
<form action="">
    <mat-form-field class="name">
        <mat-label>Accommodation name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="image-url">
        <mat-label>Image url</mat-label>
        <input matInput>
    </mat-form-field>
    
    

    <p class="categories-title">Categories:</p>
    <section class="categories">
        <mat-checkbox class="example-margin">Hotel</mat-checkbox>
        <mat-checkbox class="example-margin">Motel</mat-checkbox>
        <mat-checkbox class="example-margin">Vikendica</mat-checkbox>

    </section>
    <mat-form-field >
        <mat-label>Address</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Phone number</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field >
        <mat-label>x-coordinate</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field >
        <mat-label>y-coordinate</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Website link</mat-label>
        <input type="url" matInput>
    </mat-form-field>
    <textarea matNativeControl>Description</textarea>
    <button (click)="sendData()" class="add">Add item</button>
</form>


