<div class="admin-login-box">
    <form>
        <div class="form-group">
            <label class="form-control-label">USERNAME</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-control-label">PASSWORD</label>
            <input type="password" class="form-control" i>
        </div>

        
            
                <button type="submit" class="admin-login-button">LOGIN</button>
           
        
    </form>
</div>
